# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore environment variables
.env

# Ignore SQLite (if used)
*.sqlite3

# Ignore VS Code settings
.vscode/

# Ignore OS files
.DS_Store
